.balance {
    text-align: center;
    padding: 30px 0 30px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.balance p {
    margin: 0;
}

#balance-text {
    color: var(--tg-theme-hint-color);
    font-size: 17px;
}

#balance-value {
    color: var(--tg-theme-text-color);
    font-weight: bold;
    font-size: 19px;
    padding-top: 10px;
}

.content {
    text-align: center;
}

#balance-info {
    display: flex;
    align-items: center;

    padding-top: 10px;
}
#balance-info p {
    padding: 0;
    padding-right: 10px;
}